body {
    overflow-x: hidden;
    position: relative;
}

header {
    text-align: center;
}

.input-wrapper {
    margin: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
}

.input-wrapper label {
    margin-right: 20px;
    position: relative;
}

.input-wrapper input {
    margin-right: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #305460;
}

.section-wrapper {
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

section {
    padding: 10px;
    margin: 0 20px;
    width: 100%;
    border-radius: 8px;
    background: #dae9f1;
}

section h2 {
    padding-left: 30px;
}

section ul {
    padding: 0 0 0 30px;
    margin: 0;
    list-style: none;
}

section ul li {
    font-size: 18px;
    position:relative;
    margin: 10px 0;
    display: block;
}

section ul li input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

section ul li input + label:hover {
    cursor:pointer;
}

section ul li input + label {
    position: relative;
}

section ul li input + label:before {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -30px;
    top: 0;
    background: #766991;
    content: '';
    opacity: 0;
    transition: opacity .15s ease-in;
}

section ul li input + label:after {
    position: absolute;
    width: 0;
    height: 18px;
    left: -29px;
    top: 50%;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    content: '';
    opacity: 0;
    margin-top: -9px;
    transition: opacity .15s ease-in;
}

section.edit_mode ul li input + label:hover {
    cursor: default;
}

section.edit_mode ul li input:checked + label:after {
    opacity: 1;
    width: 18px;
    transition: opacity .15s ease-in, width .35s ease-in-out;
}

section.edit_mode ul li input + label:before {
    opacity: 1;
}

button {
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 13px 32px;
    background: rgb(255, 108, 55);
    font-size: 16px !important;
    color: #ffffff;
    cursor: pointer;
    transition: .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 8px;
    margin: 0 10px;
    text-transform: uppercase;
}

.hide {
    display: none;
}

button:hover {
    opacity: 0.6;
}

button:active {
    background: rgb(255, 84, 22);
}

.button-wrapper, 
.edit-mode-buttons-wrapper {
    width: 100%;
    text-align: center;
    margin: 20px;
}

.postman {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    z-index: -1;
    opacity: 0.2;
}

.postman img {
    width: 100%;
}